<h1>Lokalizacje:</h1>
<table class="table" id="locations">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Miejscowość</th>
      <th scope="col">Ulica</th>
      <th scope="col">Długość</th>
      <th scope="col">Szerokość</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr class="location-row">
        <th scope="row"><%= location.id%></th>
        <td>
          <%= link_to  "#{location.name}", admin_location_path(location) %>
        </td>
        <td><%= location.street %></td>
        <td><%= location.longitude %></td>
        <td><%= location.latitude %></td>
        <td>
          <%= link_to 'Edytuj', edit_admin_location_path(location), class: "btn btn-light btn-sm"%>
          <%= link_to 'Usuń', admin_location_path(location), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Czy na pewno chcesz usunąć lokalizację #{location.name}?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Dodaj lokalizację", new_admin_location_path, class: 'btn btn-primary', id: 'new-location' %>
