<h1>Lokalizacje:</h1>

<% @locations.each do |location| %>
  <div class = 'row'>
    <div class = 'col-6'>
      <%= link_to  "#{location.name}", admin_location_path(location) %>
    </div>
    <div class = 'col-2'>
      <p><%= location.longitude %></p>
    </div>
    <div class = 'col-2'>
      <p><%= location.latitude %></p>
    </div>
    <div class = 'col-1'>
      <%= link_to 'Edytuj', edit_admin_location_path(location)%>
    </div>
    <div class = 'col-1'>
      <%= link_to 'Usuń', admin_location_path(location), method: :delete, data: {confirm: "Czy na pewno chcesz usunąć lokalizację #{location.name}?"} %>
    </div>
  </div>
<% end %>

<%= link_to  "Dodaj lokalizację", new_admin_location_path %>
