<% if flash[:error] %>
  <div class="alert alert-danger" role="alert" style="margin-top: 15px">
    <%= flash[:error] %>
  </div>
<% end %>

<div class='row'>
  <div class='col-sm-4 search-form'>
    <%= simple_form_for(@search, url: search_admin_locations_path, method: :get) do |f| %>
      <%= f.input :longitude, label: 'Długość', required: true %>
      <%= f.input :latitude, label: 'Szerokość', required: true %>
      <%= f.input :max_distance_km, label: 'Promień wyszukiwania w kilometrach', required: false %>
      <%= f.input :max_results, label: 'Maksymalna liczba wyników', required: false %>
      <%= f.button :submit, 'Szukaj', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class='col-sm-8 installations-list'>
    <% if @installations %>
        <%= render 'installations', locals: { search: @search } %>
    <% else %>
      <h3>Wyszukaj instalacje</h3>
    <% end %>
  </div>
</div>
