<div class = 'row'>
    <div class = 'col-2'>
      <p><%= @location.name %></p>
    </div>
    <div class = 'col-2'>
      <p><%= @location.longitude %></p>
    </div>
    <div class = 'col-2'>
      <p><%= @location.latitude %></p>
    </div>
    <div class = 'col-2'>
      <%= link_to 'Edytuj', '#'%>
    </div>
    <div class = 'col-2'>
      <%= link_to 'Usuń', '#'%>
    </div>
    <div class = 'col-2'>
      <%= link_to 'Wróć', admin_locations_path %>
    </div>
  </div>
