<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Czekam na potwierdzenie od: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "zostaw puste jeśli nie chcesz zmieniać",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "wprowadź aktualne hasło aby wprowadzić zmiany",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Uaktualnij", class: "btn-primary" %>
  </div>
<% end %>

<h3>Usuń konto</h3>

<p>Chcesz usunąć konto? <%= link_to "Usuń konto", registration_path(resource_name), data: { confirm: "Na pewno?" }, method: :delete %></p>

<%= link_to "Cofnij", :back %>
