<h2>Zarejestruj się</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("Minimum #{@minimum_password_length} znaków" if @minimum_password_length),
                input_html: { autocomplete: "nowe-hasło" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "nowe-hasło" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Zarejestruj się", class: "btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
