<%= simple_form_for [:admin, article] do |f| %>
  <%= f.input :title %>
  <%= f.rich_text_area :body %>
  <% unless article.errors[:body].empty? %>
    <div class="invalid-feedback" style="display: block">
      <%= article.errors[:body].join(', ') %>
    </div>
  <% end %>
  <br>
  <%= f.input :all_tags, placeholder: "Tagi oddzielone przecinkami" %>

  <div id='new-tag'>
    <%= link_to 'Dodaj tag', '#', remote: true, class: 'btn btn-primary' %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
