<%= simple_form_for [:admin, article] do |f| %>
  <%= f.input :title %>
  <%= f.rich_text_area :body %>
  <% unless article.errors[:body].empty? %>
    <div class="invalid-feedback" style="display: block">
      <%= article.errors[:body].join(', ') %>
    </div>
  <% end %>
  <br>
  <div id="js-tags-fields">
    <% if article.tags.present? %>
      <%= f.simple_fields_for :tags do |ff| %>
        <div class="d-flex tag-field">
          <%= render 'tag_fields', f: ff, article: article %>
        </div>
      <% end %>
    <% end %>
  </div>
  <p><button class="btn btn-secondary" id="js-add-tag-field-button">Dodaj tag</button></p>
  <%= f.button :submit, button_label, class: 'btn btn-primary' %>
<% end %>
