<%= simple_form_for [:admin, article] do |f| %>
  <%= f.input :title %>
  <%= f.input :overview, as: :text %>
  <%= f.rich_text_area :body %>
  <% unless article.errors[:body].empty? %>
    <div class="invalid-feedback" style="display: block">
      <%= article.errors[:body].join(', ') %>
    </div>
  <% end %>
  <br>
  <div id="js-tags-fields" data-tags="<%= @tags_names %>">
    <% article.tags.each do |tag| %>
      <div class="d-flex tag-field">
        <%= render 'tag', tag_name: tag.name %>
      </div>
    <% end %>
  </div>
  <p><button class="btn btn-secondary" id="js-add-tag-field-button">Dodaj tag</button></p>
  <%= f.button :submit, button_label, class: 'btn btn-primary' %>
<% end %>

<div id="js-tag-template" style="display:none">
  <%= render 'tag', tag_name: nil %>
</div>
