<%= link_to "Dodaj wpis", new_admin_article_path, class: 'btn btn-primary', id: 'new-article' %>

<h1>Aktualności</h1>
<table class='table' id='articles'>
  <thead class='thead-dark'>
    <tr>
    <th scope='col'>Id</th>
    <th scope='col'>Tytuł</th>
    <th scope='col'>Data utworzenia</th>
    <th scope='col'>Data publikacji</th>
    <th scope='col'>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr class='article-row'>
        <th scope='row'><%= article.id %></th>
        <td>
          <%= link_to "#{article.title}", admin_article_path(article)%>
        </td>
        <td><%= article.created_at %></td>
        <td>
          <%= article.published? ? article.published_at : 'Nieopublikowany' %>
        </td>
        <td>
        <% if article.published? %>
          <%= link_to 'Cofnij publikację', unpublish_admin_article_path(article), method: :put, class: "btn btn-warning btn-sm" %>
        <% else %>
          <%= link_to 'Opublikuj wpis', publish_admin_article_path(article), method: :put, class: "btn btn-info btn-sm" %>
          <% end %>

        <%= link_to 'Edytuj', edit_admin_article_path(article), class: "btn btn-light btn-sm"%>
        <%= link_to 'Usuń', admin_article_path(article), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Czy na pewno chcesz usunąć wpis #{article.title}?"} %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>

<%= paginate @articles %>