<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><br>Skrót artykułu:</br><%= @article.overview %></p>
<p><br>Data wpisu:</br><%= @article.created_at%></p>

<%= link_to 'Edytuj', edit_admin_article_path(@article), class: "btn btn-light btn-sm"%>
<%= link_to 'Usuń', admin_article_path(@article), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Czy na pewno chcesz usunąć wpis #{@article.title}?"} %>
<div style="display:block">
  <%= link_to 'Wszystkie wpisy', admin_articles_path %>
</div>