<h1>Wprowadzone organizacje:</h1>

<p><%= link_to 'Dodaj organizację', new_admin_organization_path, class: 'btn btn-success', id: 'new-organization' %></p>

<table class = 'table' id = 'organizations'>
  <thead class = 'thead-dark'>
    <tr>
      <th>Id</th>
      <th>Nazwa organizacji</th>
      <th>Email kontaktowy</th>
      <th>Facebook</th>
      <th>Logo</th>
      <th>Ilustracja</th>
      <th>Mapa regionu</th>
      <th>Działania</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr class = 'organization-row'>
        <td><%= organization.id %></td>
        <td><%= organization.organization_name %></td>
        <td><%= organization.email %></td>
        <td><%= organization.facebook %></td>
        <td>
          <% if organization.logo.attached? %>
            Załączone
          <% else %>
            Niezałączone
          <% end %>
        </td>
        <td>
          <% if organization.illustration.attached? %>
            Załączona
          <% else %>
            Niezałączona
          <% end %>
        </td>
        <td>
          <% if organization.map.attached? %>
            Załączona
          <% else %>
            Niezałączona
          <% end %>
        </td>
        <td>
          <%= link_to 'Pokaż', admin_organization_path(organization), class: 'btn btn-default btn-sm'%>
          <%= link_to 'Edytuj', edit_admin_organization_path(organization), class: "btn btn-default btn-sm"%>
          <%= link_to 'Usuń', admin_organization_path(organization), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Czy na pewno chcesz usunąć organizację #{organization.organization_name}?" } %>
        </td>
      </tr>
    <% end %>
  </body>
</table>
