<h1>Dodaj użytkownika:</h1>
<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :email, label: 'Adres email' %>
  <%= f.input :password, label: 'Hasło' %>
  <%= f.input :admin, label: 'Czy użytkownik jest adminem?' %>
  <%= f.input :role, collection: User.roles.keys, as: :radio_buttons, label: 'Wybierz uprawnienia użytkownika' %>
  <%= f.submit 'Utwórz użytkownika', class: 'btn btn-success' %>
<% end %>
