<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <%= link_to  "Admin Panel", admin_root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to  "Aktualności", '#', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Lokalizacje", admin_locations_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Użytkownicy", admin_users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Strona główna", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Wyloguj", destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>
    </ul>
  </div>
</nav>
