<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <%= link_to  "Admin Panel", admin_root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to  "Aktualności", admin_articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Czujniki", admin_locations_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Użytkownicy", admin_users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <% if @current_organization %>
          <%= link_to "Organizacja", admin_organization_path(@current_organization), class: 'nav-link' %>
        <% else %>
          <%= link_to "Organizacja", new_admin_organization_path, class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  "Strona główna", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Wyloguj", destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>
    </ul>
  </div>
</nav>
