<!DOCTYPE html>
<html>
  <head>
    <title>SmogAlert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>
  </head>

  <body>
    <%# TODO confirm with FE team if what is below is OK (maybe it would be better do do it like this:) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
