<!DOCTYPE html>
<html>
  <head>
    <title>SmogAlert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application-admin', media: 'all' %>
    <%= javascript_pack_tag 'application-admin' %>
  </head>

  <body>
    <div class = "container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
